@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;622&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    background-color: #f0f0f0;
}

nav {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    top: 0;
    left: 0;  
    right: 0;
    padding: 5% 10%;
    background-color: #f0f0f0;
    align-items: center;
}  

#logo {
    height: 100px;
    margin-right: auto;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: right;
}

nav ul li {  
    display: inline-block;  
}  
nav li {  
    margin: 20px;
}  
nav li a {  
    color: #313131;
    padding: 10px;
    text-decoration: none;  
}  

nav li :hover {
    color: white;
    background-color: black;
}

.content {
    margin: calc(10% + 100px) 25% 0 25%;
}

#welcome {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

#linkToContact {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: #313131;
}

.projectThumbnail {
    width: 200px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    margin-bottom: 10px;
    filter: grayscale(80%);
}

.projectThumbnail:hover {
    border: 1px rgba(0, 0, 0, 0.4) solid;
    filter: none;
}

.projectWrapper {
    width: 200px;
}

.captionOverlay {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    padding: 2px;
    position: absolute;
    bottom: 15%;
    width: 100%;
}

#projectsList {
    float: left;
}

#projectsParagraph {
    float: right;
    width: calc(90% - 200px);
}

.projectImg {
    width: 100%;
}   

h2 {    
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
    margin: 5% 0;
}

#returnBtn {
    font-family: 'Tahoma';
    font-weight: bold;
    font-size: 4em;
    color: #313131;
    text-align: center;
    margin: 0;
}

#returnBtn:hover {
    cursor: pointer;
}

#contactParagraph {
    float: left;
    width: 40%;
}

.hideOnSmall {
    display: inline;
}

.showOnSmall {
    display: none;
}

#contactParagraph img {
    width: 48px;
    margin: 5% 5% 0 0;
}

#form {
    float: right;
    width: max(40%, 350px);
}

#someIcons img {
    height: 36px;
}

@media (max-width: 768px) {
    #logo {height: 75px}
    nav {padding: 5% 6%}
    nav li {margin: 3px}
    .content {margin: 8%}
    #contactParagraph {width: 100%; float: none}
    #contactParagraph img {margin: 5% 10px 0 0}
    .hideOnSmall {display: none}
    .showOnSmall {display: inline}
    #form {width: 100%; float: none; margin: 5% auto}
}

@media (max-width: 1200px) {
    .content {margin: calc(10% + 100px) 8% 0 8%;}
}

::selection {
    color: #313131;
    background-color: #868686;
}