@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    background-color: #f0f0f0;
    scroll-behavior: smooth;
    /* overflow-y: scroll; */
    /* Prevents the content from shifting whenever a scrollbar is needed: https://stackoverflow.com/a/7607206 */

}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

#loadingContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingIcon {
    user-select: none;
    height: 170px;
}

#loadingIcon:hover {
    cursor: default;
}

.sectionWrapper {
    padding: 48px 0;
    min-height: 40vh;
}

/* .h3Wrapper {
    background-color: #2f3e4c;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 3em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    position: absolute;
    transform: translateX(-100%);
    -webkit-user-drag: none;
    user-select: none;
} */

.h3Wrapper {
    background-color: #2f3e4c;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 3em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    position: absolute;
    transform: translateX(-100%);
    -webkit-user-drag: none;
    user-select: none;
    transition: transform 0.2s ease-out;
    transition-delay: 0.2s;
}

    .h3-animation {
        transform: translateX(0%);
    }

/* .h3-animation {
    transform: translateX(0%);
    transition: transform 0.2s ease-out;
    transition-delay: 0.2s;
} */

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    color: #fff;
    margin-right: 20px;
}

.contentParagraph a {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: #ba6149;
    text-decoration: none;
}

#externalIcon {
    height: 1em;
    margin: 0 5px;
    transform: translateY(2px);
}

/* .sectionContent {
    max-width: 850px;
    margin: 0 25%;
    opacity: 0;
    transform: translateY(max(30px, 15%));
} */

.sectionContent {
    max-width: 850px;
    margin: 0 25%;
    opacity: 1;
    transform: translateY(0px);
}

.sectionContent a:hover {
    filter: contrast(250%) saturate(60%);
}

.content {
    font-size: 1.2em;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #313131;
    position: relative;
}

.contentParagraph {
    margin-bottom: 1em; 
}

.socials {
    display: flex;
}

.iconWrapper {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: #fff;
    margin-right: 20px;
}

.contactIcon {
    height: 40px;
    width: 40px;
}

/* .paragraph-animation {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1.7s ease, transform 0.7s ease-in-out;
} */

.paragraph-animation {
    opacity: 0;
    transform: translateY(max(30px, 15%));
    transition: opacity 1.7s ease, transform 0.7s ease-in-out;
}

#footer {
    height: 10px;
    position: relative;
    margin: 0;
}

.toTopWrapper {
    height: 75px;
    position: absolute;
    bottom: 100px;
    right: 0;
    background-color: #fff;
    transition: transform 0.3s ease-out;
    transform: translateX(100%);
}

.toTopWrapper:hover {
    filter: contrast(250%) saturate(60%);
}

.toTopWrapper-hide {
    transform: translateX(0%);
}

.toTopWrapper input {
    height: 100%;
}

::selection {
    background-color: #f8dfb6;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ba6149;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bd4324;
}

@media (max-width: 1200px) {

    .sectionContent {
        margin: 0 16%;
    }

    .h3Wrapper {
        position: relative;
        width: 40%;
    }
}

@media (max-width: 768px) {

/*     .sectionContent {
        min-height: max(40vh, 300px);
    } */

    .sectionContent {
        margin: 0 max(6%, 20px);
    }

    .toTopWrapper {
        bottom: 20px;
    }
}